---
import { Image } from "astro:assets";
import { getRouteFromUrl, useTranslations } from "../i18n/utils";
import Theme from "./Icons/Theme.astro";
import Spain from "./Icons/Spain.astro";
import UnitedKingdom from "./Icons/UnitedKingdom.astro";
import X from "./Icons/X.astro";
import Linkedin from "./Icons/Linkedin.astro";
import Github from "./Icons/Github.astro";
import Mail from "./Icons/Mail.astro";
import cn from "../utils/cn";

const { headerMinimal = false } = Astro.props;

const currentLocale = (Astro.currentLocale as "es" | "en" | undefined) || "es";
const t = useTranslations(currentLocale);

const route = getRouteFromUrl(Astro.url);
const newLocale = currentLocale === "es" ? "en" : "es";
const newRoute = `/${newLocale}/${route ?? ""}`;

const navLinks = [
  { href: `/${currentLocale}/`, text: t("nav.about"), active: false },
  { href: `/${currentLocale}/blog`, text: t("nav.blog"), active: false },
  { href: `/${currentLocale}/contact`, text: t("nav.contact"), active: false },
];
---

<header transition:name="header">
  <div 
    class={cn(
      "min-h-64 border-b border-text/10 pb-5",
      headerMinimal ? "!min-h-0 !border-none !pb-0" : "",
    )}
  >
    { !headerMinimal &&
      <video
        autoplay
        muted
        loop
        class="absolute top-4 left-1/2 -translate-x-1/2 -z-50 opacity-40 dark:opacity-20 h-[278px] w-auto max-w-full object-cover !invert dark:!invert-0"
        transition:persist
      >
        <source src="/mohamed_waves.webm" type="video/webm" />
      </video>

      <div
        class="mt-10 w-[130px] mx-auto md:mx-0 h-[130px] border-2 border-text bg-text rounded-xl overflow-hidden"
      >
        <Image
          id="image-profile"
          src="/me.webp"
          width={160}
          height={160}
          alt={t("home.imageAlt")}
          class="md:grayscale transition-all duration-300 ease-in-out md:cursor-none select-none openCursor"
          transition:persist
        />
      </div>
    }

    { !headerMinimal &&
      <div 
        class={cn(
          "flex items-end-safe justify-between",
          headerMinimal ? "mt-14 md:mt-0" : "",
        )}
      >
        <div
          class="flex flex-col items-center justify-center text-center mx-auto md:mx-0 md:items-start md:justify-start md:text-left gap-y-2"
        >
            <h1 class="text-2xl font-bold mt-10 font-amulya">
              Mohamed el Ouariachi
            </h1>
            <h3 class="text-xl font-semibold text-text/80 mb-2 font-amulya">
              {t("home.occupation")}
            </h3>

            <div class="flex items-center gap-x-2">
              <a href="https://x.com/_ouariachi" aria-label="Twitter | X">
                <X width={20} height={20} />
              </a>
              <a href="https://github.com/ouariachi" aria-label="Github">
                <Github width={24} height={24} />
              </a>
              <a
                href="https://www.linkedin.com/in/ouariachi/"
                aria-label="Linkedin"
              >
                <Linkedin width={24} height={24} />
              </a>
              <a href="mailto:mohamed@ouariachi.com" aria-label="Email">
                <Mail width={24} height={24} />
              </a>
            </div>
        </div>

        <div
          class={cn(
            "absolute top-2 left-1/2 -translate-x-1/2 bg-background border-text border-2 dark:border-1 rounded-2xl flex gap-x-0.5",
            "md:static md:translate-x-0 md:bg-transparent md:border-none",
          )}
          >
          <button
            class="p-2 cursor-pointer text-text rounded-xl hover:bg-text/20"
            onclick="toggleTheme()"
          >
            <Theme width={24} height={24} />
          </button>

          <a
            href={newRoute}
            class="p-2 cursor-pointer text-text rounded-xl hover:bg-text/20"
            aria-label={t("home.changeLanguage")}
            >
            {
              currentLocale !== "en" ? (
                <Spain width={24} height={24} />
              ) : (
                <UnitedKingdom width={24} height={24} />
              )
            }
          </a>
        </div>
      </div>
    }
  </div>

  <nav class="flex items-center justify-center md:justify-start mt-5">
    <ul class="flex gap-x-2">
      {
        navLinks.map((link) => (
          <li>
            <a
              href={link.href}
              class={cn(
                "text-text/80 hover:text-text rounded-sm px-2 py-1 transition-all select-none",
                link.href === `/${currentLocale}/${route}`
                  ? "bg-text !text-background font-bold"
                  : "",
              )}
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script is:inline>
  function toggleTheme() {
    document.documentElement.classList.toggle("dark");
    localStorage.setItem(
      "theme",
      document.documentElement.classList.contains("dark") ? "dark" : "light",
    );
  }
</script>
